<h1>Pożyczalnia</h1>
<p>Pożyczalnia to serwis pozwalający na organizację przedmiotów, którymi dzielisz się ze znajomymi.
Serwis pozwala na zapisywanie zdjęć wraz z opisem przedmiotów, przed pożyczeniem, aby uniknąć wszelkich niejasności.</p>
